/* h1{
    color: red;
}

p{
    color: blue;
    font-size: 30px;
    font-style: italic;
    font-weight: bold;
    background-color: yellow;
    width: 400px;
    height: 400px;
    margin: 150px
    padding-right 50px;
margin-top: 100px;

}
span{
    color: green;
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
    background-color: pink;
    font-family: Arial, Helvetica, sans-serif;
}

div{
    font-size: 40px;
} */
/* 
p{
    color: blue;
}
.highlight{
    color: red;
}
#special{
    color: green;
} */

/* 
ul > li{
color: blue;
}

li + li{
    border-top: 1px solid black;
}
.note ~ p{
    color: red;
} */
/* 

.highlight.second{
    color: red;
}


div.secure{
    background-color: green;
    color: white;
}
span.secure{
    color: black;
    background-color: blue;
}
.first.inner{
    border-color: red;
} */


/* input[type="number"]{
    background-color: yellow;
    color: red;
    border-radius: 10px;
    padding-left: 20px;
}

input[checked]{
    outline: 2px solid red;
}

input[disabled]{
    background-color: green;
    border-radius: 5px;

/* } */
/* 
a:hover{
    color: red;
    text-transform: uppercase;
}

input:focus{
    background-color: black;
}

li:first-child{
    color: orange;
    text-decoration: underline ;
}
li:last-child{
    color: red;
}

p::before{
    content: ;
} */

li + li {
    color: red;
}